<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">simpleBlog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/admin/dashboard">Edit <span class="sr-only">(current)</span></a></li>
        <li><a href="/admin/add">Add posts</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, {{username}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
          	<li><a href="/admin/settings">Settings</a></li>
            <li><a href="/admin/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{#each results}}
            <div class="post-preview">
                <a href="/post/{{this.id}}">
                    <h2 class="post-title">
                      {{this.title}}
                    </h2>
                    <!-- <h3 class="post-subtitle">
                        Problems look mighty small from 150 miles up
                    </h3> -->
                </a>
                <p class="post-meta">Posted by <a href="#">{{this.author}}</a> on {{this.niceDate}}</p>
                <a class="btn btn-info" style="color: #f4f3f3;" href="/admin/edit/{{this.id}}">Edit</a>
                <a class="btn btn-danger" style="color: #f4f3f3;" href="/admin/deletePost/{{this.id}}">Delete</a>
            </div>
            <hr>
            {{/each}}
        </div>
    </div>
</div>